*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-200: hsl(333, 80%, 67%);
    --clr-primary-900: hsl(300, 43%, 22%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-700: hsl(303, 10%, 53%); 

    --ff-primary: 'Spartan', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-11: 0.6875;
    --fs-15: 0.9375rem; 
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-15);
    padding: 5em 1em;

    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top, right bottom;
}

/* main sections */

.section {
    margin-bottom: 3em;
}

.title--section {
    text-align: center;
}
.rating--section {
    text-align: center;
}
.attribution--section {
    margin-bottom: 0;

    font-size: var(--fs-11);
    text-align: center;
}

/* main sections // nested stuff*/

.attribution--section a {
    color: var(--clr-primary-200);
}

/* text stuff */

#title {
    margin-bottom: 0.6em;

    color: var(--clr-primary-900);
}

.text {
    font-size: var(--fs-15);
}

.text--title {
    color: var(--clr-neutral-700);
}

.text--rating {
    color: var(--clr-primary-900);
    font-weight: var(--fw-bold);
}

.text--review__name {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
}

.text--review__status {
    color: var(--clr-primary-200);
}

.text--review__review {
    margin-top: 2em;

    color: var(--clr-neutral-100);
}

/* content box containers */

.box {
    margin-bottom: 1em;

    border-radius: 0.7em;
}

.box--rating {
    padding: 1em;

    background-color: var(--clr-neutral-200);
}

.box--review {
    padding: 3em 1.5em;

    background-color: var(--clr-primary-900);

    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: repeat(3, auto);
}

/* content box containers // nested stuff */

.box--rating__stars {
    margin-bottom: 0.4em;
}

.box--rating__stars > * + * {
    margin-left: 0.2em;
}

.review__img {
    width: 3em;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

}

.text--review__name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.text--review__status {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.text--review__review {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

/* images */

img {
    max-width: 100%;
}

.review__img {
    border-radius: 50%;
}

@media (min-width: 550px) {

    body {
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    }

    main {
        max-width: 30rem;
        margin: 0 auto;
    }

    .rating--section {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .box--rating {

        width: 30rem;

        display: flex;
        justify-content: left;
        align-items: center;
        gap: 2em;
    }

    .box--rating__stars {
        margin-bottom: 0;
        margin-left: 2em;
    }
}

@media (min-width: 1000px) {

    #title {
        max-width: 14ch;
    }

    main {
        max-width: 1200px;
        padding: 5em;

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .title--section {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        text-align: left;
    }

    .rating--section {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        justify-self: right;
    }

    .review--section {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        display: flex;
        gap: 2em;
    }

    .attribution--section {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .box--rating:nth-of-type(1){
        transform: translateX(-6em);
    }

    .box--rating:nth-of-type(2){
        transform: translateX(-3em);
    }

    .box--review:nth-of-type(2){
        transform: translateY(1em);
    }

    .box--review:nth-of-type(3){
        transform: translateY(2em);
    }
}

@media (min-width: 1200px) {
    .text--title {
        min-width: 27ch;
    }
}